@font-face {
    src: url("ReadexPro-Regular.ttf");
}
@font-face {
    src: url("Roboto-Regular.ttf");
}
@font-face {
    src: url("Roboto-Italic.ttf");
}

.readex-pro {
    -fx-font-family: 'Readex Pro Regular';
}
.roboto {
    -fx-font-family: 'Roboto';
}